[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"

[packages]
cython = "*"
pyproj = {git = "https://github.com/jswhit/pyproj.git"}
geopandas = "*"
matplotlib = "*"
descartes = "*"
convertbng = "*"

[requires]
python_version = "3.7"
